.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C3879;
    padding-top: 30px;
}

.cardContainer {
    display: flex;
}

.card {
    width: 300px;
}

.buttons {
    margin-top: 20px;
    margin-bottom: 100px;;
}

.soundImg {
    height: 20px;
    width: 20px;
    background-color: white;
}

.soundButton {
    background-color: white;
    border-radius: 5px;
}

.descriptor {
    position: fixed;
    left: 30px;
    top: 30px;
}

.cardText {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
}

h5 {
    font-family: 'Roboto', sans-serif;
}

.cardsoundtransContainer {
    display: flex;
    padding-left: 95px;
}

.soundtransContainer {
    display: flex;
    flex-direction: column;
}

.translateButton {
    font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient( 135deg, #607EAA 10%, #EAE3D2 100%); */
    border-radius: 5px;
    margin-top: 3px !important;

}

.ui.button {
    padding: .4em !important;
}