.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C3879;
    padding-top: 120px;
}

.cardContainer {
    display: flex;
}

.cardContainerCss {
    height: 450px;
    width: 650px;
}

.buttons {
    margin-top: 20px;
    margin-bottom: 100px;
}

.ui.button.translateButton {
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    margin-top: 3px;
}

.soundButton {
    background-color: white;
    border-radius: 5px;
}

.descriptor {
    position:absolute;
    left: 30px;
    top: 30px;
}

.cardText {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
}

h5 {
    font-family: 'Roboto', sans-serif;
}

.cardsoundtransContainer {
    display: flex;
    padding-left: 95px;
}

.soundtransContainer {
    display: flex;
    flex-direction: column;
}

.ui.button {
    padding: .4em !important;
    font-family: 'Roboto', sans-serif !important;
}

.voiceColor {
    color: white;
}

@media screen and (max-width: 800px) {
    .cardContainerCss {
        width: 300px;
    }

    .cardText {
        font-size: medium;
    }

    .ui.button.translateButton {
        font-size:small !important;
    }
    
    .ui.button.soundButton {
        font-size: small !important;
    }

    .cardsoundtransContainer {
        display: initial;
        padding-left: 0px;
    }

    .soundtransContainer {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .ui.button.translateButton {
        margin-top: 0px;
    }

    #nextButton {
        font-size: medium !important;
    }

    #prevButton {
        font-size: medium !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .cardContainerCss {
        width: 550px;
    }    
}
